body {
  background: #000;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#loadfile {
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 1s;
  &:hover {
    opacity: 1;
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: scale3d(0.5, 1, 1);

  &#left {
    left: -25%;
  }

  &#right {
    left: 25%;
  }
}
